Repository Sector-Echo-13-Team/Echo13, pull requests merged in 2022-05, with the labels that each got.

#33 [MIRROR] makes shutters buildable
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/poddoor_assembly.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/research/designs/autolathe_designs.dm
  shiptest.dme
Labels: DME Edit

#35 [MIRROR] Basically i made the surplus rifle sprite alittle less shitty.
  icons/obj/guns/projectile.dmi
Labels: Sprites

#36 [MIRROR] Schmiedeberg-class Pharmacology Ship
  _maps/configs/schmiedeberg-class.json
  _maps/shuttles/shiptest/schmiedeberg-class.dmm
Labels: Map Change

#43 [MIRROR] speech controllers and hearers_in_view improvements
  code/__DEFINES/flags.dm
  code/__DEFINES/important_recursive_contents.dm
  code/__DEFINES/speech_controller.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/speech_controller.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/passworddoor.dm
  code/game/machinery/harvester.dm
  code/game/machinery/hologram.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/eightball.dm
  code/modules/assembly/voice.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_say.dm
  code/modules/research/nanites/nanite_programmer.dm
  code/modules/spells/spell_types/shapeshift.dm
  shiptest.dme
Labels: DME Edit

#44 [MIRROR] Osprey console fix
  _maps/shuttles/shiptest/ntsv_osprey.dmm
Labels: Map Change

#46 [MIRROR] removes clipping
  icons/mob/clothing/underwear.dmi
Labels: Sprites

#38 [MIRROR] Erases the Jungle_Skeleton and Surface_Monkies ruin from existence.
  _maps/RandomRuins/JungleRuins/jungle_skeleton.dmm
  _maps/RandomRuins/JungleRuins/jungle_surface_monkies.dmm
  config/jungleruinblacklist.txt
  whitesands/code/datums/ruins/jungle.dm
Labels: Map Change, Deprecated Modularization, Config

#42 [MIRROR] Modular Bartending
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/modglass.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/mining/ores_coins.dm
  code/modules/power/cable.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/ruins/rockplanet_ruin_code.dm
  code/modules/vending/boozeomat.dm
  icons/obj/food/modglass.dmi
  icons/obj/food/modglass_fillings.dmi
  icons/obj/food/modglass_garnishes.dmi
  icons/obj/food/modglass_garnishes_items.dmi
  shiptest.dme
  whitesands/code/game/turf/open/floor/whitesands.dm
  whitesands/code/modules/mining/lavaland/ash_flora.dm
  whitesands/code/modules/mining/ores_coins.dm
Labels: Deprecated Modularization, Sprites, DME Edit

#45 [MIRROR] Small fixes to Boyardee
  _maps/shuttles/shiptest/bar_ship.dmm
Labels: Map Change

#52 [MIRROR] Ports MC initialization refactor
  code/__DEFINES/MC.dm
  code/__DEFINES/_tick.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/title.dm
  code/controllers/subsystem/vote.dm
  code/modules/tgchat/to_chat.dm
  config/config.txt
Labels: Config

#48 IT COMES (the human resprite!)
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites, Test Merge Candidate

#81 The REAL new humans
  code/__DEFINES/DNA.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/datums/mood_events/drink_events.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/status_procs.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/human_face.dmi
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#83 [MIRROR] Ship Keys
  code/modules/overmap/helm.dm
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: tgui

#84 [MIRROR] Fixes Schmiedeberg-Class Pill Press
  _maps/shuttles/shiptest/schmiedeberg-class.dmm
Labels: Map Change

#91 [MIRROR] Adds soap to the boyardee
  _maps/shuttles/shiptest/bar_ship.dmm
Labels: Map Change

#92 [MIRROR] Even more ship names
  strings/ship_names.json
Labels: Merge Conflict

#93 [MIRROR] Superpill (Pill-Class derivative)
  _maps/configs/superpill.json
  _maps/shuttles/shiptest/pill_super.dmm
Labels: Map Change

#96 [MIRROR] adds github workflows for codeowner reviews and dmi5
  .github/workflows/codeowner_reviews.yml
  .github/workflows/dmi5.yml
  icons/runtime/default_title.dmi
Labels: Sprites, Github

#94 [MIRROR] Fixes annoying issues + Remaps a jungle ruin
  _maps/RandomRuins/JungleRuins/jungle_botany.dmm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
Labels: Map Change

#100 [MIRROR] New SMES sprites by Irra
  code/modules/power/smes.dm
  icons/obj/machines/smes.dmi
  icons/obj/power.dmi
Labels: Sprites

#89 [MIRROR] Overmap Expansion #3
  code/__DEFINES/maths.dm
  code/__HELPERS/matrices.dm
  code/datums/components/crafting/recipes.dm
  code/datums/mapgen/Cavegens/RockplanetCaves.dm
  code/datums/mapgen/Cavegens/WhitesandsCaves.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/radioactive.dm
  code/game/objects/structures/salvaging.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/codename_claw.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/cult_templar.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/power/supermatter/cascade.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/mob/broadMobs.dmi
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/mob/nest.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/crates.dmi
  icons/obj/guns/energy.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/salvage_structure.dmi
  icons/obj/shards.dmi
  icons/obj/statue.dmi
  icons/turf/ancient_floors.dmi
  shiptest.dme
  sound/creatures/claw_attack.ogg
  sound/creatures/claw_move.ogg
  sound/creatures/claw_prepare.ogg
  sound/voice/vox/vox_scream_1.ogg
  whitesands/icons/mob/inhands/weapons/polearms_lefthand.dmi
  whitesands/icons/mob/inhands/weapons/polearms_righthand.dmi
  whitesands/icons/obj/items_and_weapons.dmi
Labels: Sound, Deprecated Modularization, Sprites, DME Edit

#102 [MIRROR] Rube-Goldberg Class Engineering Project (Gone OSHA)
  _maps/configs/engineeringmess.json
  _maps/shuttles/shiptest/engineeringmess.dmm
  code/datums/holocall.dm
  code/game/objects/items/storage/backpack.dm
  icons/obj/computer.dmi
Labels: Map Change, Sprites
