Repository Sector-Echo-13-Team/Echo13, pull requests merged in 2022-06, with the labels that each got.

#111 Arrowhead-Class Long Range Scoutship
  _maps/configs/independent_arrowhead.json
  _maps/shuttles/shiptest/independent_arrowhead.dmm
Labels: Map Change

#106 [MIRROR] Gun DealerShip - An Admin-Only Event Ship
  _maps/configs/gun_dealer.json
  _maps/shuttles/shiptest/gun_dealer.dmm
Labels: Map Change

#110 [MIRROR] Goggle resprite
  code/modules/clothing/glasses/_glasses.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#105 [MIRROR] New Ship - Masinyane
  _maps/configs/masinyane.json
  _maps/shuttles/shiptest/masinyane.dmm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Map Change

#107 [MIRROR] Inteq aesthetic updates, the jobbening
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/species/misc/digitigrade.dmi
Labels: Sprites

#112 Revert "The REAL new humans"
  code/__DEFINES/DNA.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/datums/mood_events/drink_events.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/status_procs.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/human_face.dmi
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#113 Revert "IT COMES (the human resprite!)"
  icons/mob/human_parts_greyscale.dmi
Labels: Sprites

#114 [MIRROR] Weathers
  code/controllers/subsystem/overmap.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/weather.dm
  code/datums/map_zones.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_controller.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/hailstorm.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/rain.dm
  code/datums/weather/weather_types/sandstorm.dm
  code/datums/weather/weather_types/shroud_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/snowfall.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/admin/verbs/randomverbs.dm
  icons/effects/weather_effects.dmi
  shiptest.dme
  sound/effects/thunder/thunder1.ogg
  sound/effects/thunder/thunder10.ogg
  sound/effects/thunder/thunder2.ogg
  sound/effects/thunder/thunder3.ogg
  sound/effects/thunder/thunder4.ogg
  sound/effects/thunder/thunder5.ogg
  sound/effects/thunder/thunder6.ogg
  sound/effects/thunder/thunder7.ogg
  sound/effects/thunder/thunder8.ogg
  sound/effects/thunder/thunder9.ogg
  sound/weather/wind/wind1.ogg
  sound/weather/wind/wind2.ogg
  sound/weather/wind/wind3.ogg
  sound/weather/wind/wind4.ogg
  sound/weather/wind/wind5.ogg
  sound/weather/wind/wind6.ogg
Labels: Sound, Sprites, Admin, DME Edit

#116 arrowhead fixes
  _maps/shuttles/shiptest/independent_arrowhead.dmm
Labels: Map Change

#117 [MIRROR] Remaps jungle_seedling.dmm
  _maps/RandomRuins/JungleRuins/jungle_seedling.dmm
Labels: Map Change

#118 [MIRROR] Fixes missing healing item icons and removes foamdupes on said items
  code/game/objects/items/stacks/medical.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/stack_objects.dmi
Labels: Sprites
